.content
  .idea{:id => "Idea_#{idea.id}"}
    %p.full-name
      = idea.user.full_name
    %p.created-at
      = " #{idea.created_at.strftime('%d %b. %Y')} às #{idea.created_at.strftime('%H:%M')} "
    %p.description
      = idea.description
    .picture
      = image_tag idea.picture_url(:thumb) if idea.picture?
    = link_to 'Like', likes_path(object_type: :idea, object_id: idea.id), method: :post, class: "a-like like-idea", id: idea.id, remote: true
    %hr.line/
    %p
      .likes-idea
        -if idea.likes_count == 0
          %span{:id => "Idea_#{idea.id}"}
          = " "
        -else
          %span{:id => "Idea_#{idea.id}"}
            = t('.likes_count', count: idea.likes_count) 
    %hr.line/
    - idea.comments.each do |comment|
      =render partial: comment

  = form_for(@comment, remote: true) do |f|
    .form-group
      .controls
        = f.text_field :body, class: 'form-control', placeholder: "Write a comment", id: "field-comment -#{idea.id}"
      .controls
        = f.hidden_field :idea_id, class: 'form-control', value: idea.id
      .controls
        = f.hidden_field :user_id, class: 'form-control', value: current_user.id
      %br
      .actions
        = f.submit nil, class: 'btn btn-primary'