.full-name
  = comment.user.full_name
%span.body
  = comment.body
%br
= "#{comment.created_at.strftime('%d %b. %Y')} às #{comment.created_at.strftime('%H:%M')} "
-if comment.likes.where(user_id: current_user.id).count == 0
  =render partial: "comments/like", object: comment, as: 'comment'
-else
  =render partial: "comments/unlike", object: comment, as: 'comment'
%p
  .likes-comment
    -if comment.likes_count == 0
      %span{:id => "Comment_#{comment.id}"}
      = " "
    -else
      %span{:id => "Comment_#{comment.id}"}
        = t('ideas.idea.comment.likes_count', count: comment.likes_count) 

/ %hr.line/